---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." theme="lemonade">
  <main>
    <button class="btn">Hello Daisy</button>
    <h1>Test an h1 outside of prose</h1>
    <article class="prose">
      <h1>Test an h1 inside of prose</h1>
    </article>
  </main>
</Layout>
