---
import { Facebook, Instagram } from "lucide-astro";
---

<footer
  data-theme="dim"
  class="flex flex-wrap gap-2 p-6 border-b-[primary] md:flex-row flex-col items-center !bg-[#0d0d0d]"
>
  <p>
    ©2012 Native Hawaiian Education Association | P.O. Box 1190, Wailuku,
    Hawaii 96793
  </p>
  <div class="flex gap-2 md:ml-auto">
    <Facebook />
    <Instagram />
  </div>
</footer>
