---
import { Menu, X } from "lucide-astro";
import ThemeController from "./ThemeController.astro";
---

<div data-theme="forest" class="navbar bg-base-100 border-b-[primary]">
  <div class="navbar-start">
    <details id="menu-toggle" class="dropdown lg:hidden">
      <summary
        onclick="this.classList.toggle('swap-active')"
        class="btn btn-ghost m-1 swap swap-rotate"
      >
        <Menu class="swap-off" />
        <X class="swap-on" />
      </summary>
      <ul
        class="menu menu-md dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a href="#">annual convention</a></li>
        <li><a href="#">register</a></li>
        <li><a href="#">about us</a></li>
      </ul>
    </details>
    <a class="btn btn-ghost text-xl">NHEA</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-2 text-lg">
      <li><a>annual convention</a></li>
      <li><a>register</a></li>
      <li><a>about us</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <ThemeController />
  </div>
</div>
