---
import { Menu, X } from "lucide-astro";
import ThemeController from "./ThemeController.astro";
---

<nav data-theme="dim" class="navbar !bg-[#0d0d0d] border-b-[primary]">
  <div class="navbar-start">
    <details id="menu-toggle" class="dropdown lg:hidden">
      <summary
        onclick="this.classList.toggle('swap-active')"
        class="btn btn-ghost m-1 swap swap-rotate"
      >
        <Menu class="swap-off" />
        <X class="swap-on" />
      </summary>
      <ul
        class="menu menu-md bg-[#0d0d0d] dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a href="/annual-convention">annual convention</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/about-us">about us</a></li>
      </ul>
    </details>
    <a href="/" class="btn btn-ghost text-xl">NHEA</a>
  </div>
  <div class="navbar-center lg-flex-hidden">
    <ul class="menu menu-horizontal px-1 gap-2 text-lg">
      <li><a href="/annual-convention">annual convention</a></li>
      <li><a href="/register">register</a></li>
      <li><a href="/about-us">about us</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <ThemeController />
  </div>
</nav>

<style>
  .lg-flex-hidden {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .lg-flex-hidden {
      display: flex;
    }
  }
</style>
