---
import { Sun, Moon } from "lucide-astro";
---

<label class="btn btn-ghost swap swap-rotate">
  <input type="checkbox" class="theme-controller" value="dim" />
  <Sun class="swap-on" />
  <Moon class="swap-off" />
</label>
