---
interface Frontmatter {
  title: string;
  theme?: "custom" | "dim";
}

interface Props {
  frontmatter?: Frontmatter;
  title: string;
  theme?: "custom" | "dim";
}

import Navbar from "../components/Navbar.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
const title = Astro.props.title || frontmatter?.title || "NHEA";
const theme = Astro.props.theme || frontmatter?.theme || "custom";
---

<!doctype html>
<html data-theme={theme} lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-[100dvh] grid [grid-template-rows:auto_auto_1fr_auto]">
    <Navbar />
    <Banner />
    <main class="m-4">
      <article class="prose">
        <h1>{title}</h1>
        <slot />
      </article>
    </main>
    <Footer />
    <script>
      //@ts-nocheck
      const detailsElement = document.getElementById("menu-toggle");
      const summaryElement = detailsElement.querySelector("summary");
      document.addEventListener("click", function (event) {
        if (detailsElement && !detailsElement.contains(event.target)) {
          detailsElement.removeAttribute("open");
          summaryElement.classList.remove("swap-active");
        }
      });
      summaryElement.addEventListener("click", function (event) {
        event.stopPropagation();
      });
    </script>
  </body>
</html>
