---
import Navbar from "../components/Navbar.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Announcements from "../components/Announcements.astro";
const { frontmatter } = Astro.props;
const title = Astro.props.title || frontmatter?.title;
const theme = Astro.props.theme || frontmatter?.theme || "custom";
const announcements =
  Astro.props.announcements || frontmatter?.announcements || false;
---

<!doctype html>
<html data-theme={theme} lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="src/styles/layout.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{"NHEA" + (title ? " - " + title : "")}</title>
  </head>
  <body
    class="min-h-[100dvh] min-w-[290px] grid [grid-template-rows:auto_auto_1fr_auto]"
  >
    <Navbar />
    <Banner />
    <div
      class="mt-4 mb-12 md:px-6 px-4 prose prose-quoteless prose-blockquote:not-italic max-w-none flex flex-wrap justify-center gap-6"
    >
      <main class="max-w-[50rem] w-full">
        <article>
          <h1 class="text-primary font-semibold">{title}</h1>
          <slot />
        </article>
      </main>
      <aside>
        {announcements && <Announcements />}
      </aside>
    </div>
    <Footer />
    <script>
      //@ts-nocheck
      const detailsElement = document.getElementById("menu-toggle");
      const summaryElement = detailsElement.querySelector("summary");
      document.addEventListener("click", function (event) {
        if (detailsElement && !detailsElement.contains(event.target)) {
          detailsElement.removeAttribute("open");
          summaryElement.classList.remove("swap-active");
        }
      });
      summaryElement.addEventListener("click", function (event) {
        event.stopPropagation();
      });
    </script>
  </body>
</html>
